# Activar rewrite
RewriteEngine on
ErrorDocument 404 localhost/mdt_final/?controller=errorController&action=index

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2